
 /*div.grupo div.fila {
    /* width: 100px;
    height: 100px;
    margin: 10px;  no se ha de poner 
    background-color: aqua;
    <i class="fas fa-bomb"></i>
    EL QUE RECIBE LAS CARACTERISTICAS 
    CSS ES EL UMTILO DE LA FILA, LEER POR EL FINAL
}*/

div.fila div{
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;
    background-color:rgb(136, 143, 136);
    position: relative;
}
 div.fila div:hover{
    background-color: green;
    cursor:pointer;
}
div.fila div.mina:hover{
    background-color:red;
  
}
div.fila div.mina i{
   
    position: absolute;
    right:15px;
    top:15px;
    display: none;/* no se vean*/

}
div.fila div.mina:hover i{ /*nunca pasare por encima de un elemnto oculto
    tintinea si no sabe mostrarse o no
    cuando por encima de la mina es visible la i*/
    display: block;/*visible*/
    /*div.fila:hover div.mina i cuando pases por la fila*/
}





