div.franja{
    text-align: center;
    font-size: 30px;
    border: 1px solid rgb(61, 189, 11);
    color:white;
}
 div.franja.superior{
    background-color: red;
   
    
}
 div.franja.inferior{
    background-color: blue;
   /* width: 100%; 
    position: fixed;
    bottom: 0;no lo entiendo
    left: 0;*/
}

/*
centrar una caja
margin: 0 auto;(arriba/abajo derecha/izquierda)
relativo: sigue en su sitio, sirve si respecto a su posicion lo quieres mover un poco

fixed con la posicon de top/bottom, left -->en el body padding top y bottom  */