div.bolas div{
    
    height: 80px;
    width: 80px;
    background-color: blueviolet;
    margin:5px;
    display:inline-block;
    border-radius: 40px;
    font-size: 40px;
    color: blanchedalmond;
    text-align: center;
    line-height: 80px;
}
h1.bordes{
    border: 3px red dashed;
    border-bottom: 5px violet solid;
    border-top: 10px gold double;
    /*wight color style*/
    text-align: center;
    display: inline-block;
    padding: 250px 50px 20px 50px;
    margin-right: 40px;
}
img.oculto{
    /*display: none;*/
    visibility:visible;
}
img.oculto:hover{
    visibility: hidden;
}
div.bolas div.verde{
    background-color: rgb(21, 255, 0);
}
div.azul{
    color: blue;
}