body{
    background-color: blanchedalmond;
    padding: 20px;
}
span.negrita{
   font-weight: bolder;
   font-size: 1em;
}
span.italica{
    font-style: italic; 
}
span.lorem {
    text-decoration: underline;
}

span.subrallar{
    text-decoration: underline;
    font-style: italic;
}