body{
    padding: 50px;
    background-color: rgb(245, 220, 228);
}
div.articulo{
    border: 1px blue solid;
    display: inline-block;
    width: 30%;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    position: relative;/*para referenciarse al contenedor*/
    margin:20px;
}
div.articulo img{
    width: 100%; /*siempre tomara la achura de su coontenedor*/
    border-radius: 10px;;
}
p.precio{
    font-size: 1.8em;
    font-weight: bold;
}
p.nombre{
    font-size: 1.5em;
    font-weight: bold;
}
p.descripcion{
    font-size: 1.8em;
    font-weight: bold;
}
div.articulo p{
    margin-top: 5px;
/*falta*/
}
div.botones{
    text-align: center;
}
div.botones div{
text-align: center;
display: inline-block;
background-color: brown;
width: 45%;
font-size: 2em;/*la proporciom, que seria para el texto tambien lo afecta a los icionos
,,,,,,,,,,,,,,tamaño de los icinos, o dar tamaño con classes
fa-spin; fa-3x; */
margin: 0 2%;
padding-top: 8px;
padding-bottom: 8px;
}
i.rojo{
    color:red;
    position:absolute;
    top:20px;
    right: 20px;/*marcar el contenedor al que se refiera en articulo
    con posicion relativa*/
}
/*text-align centrar un texto y cualquier cosade tipo
inline se centrara como un texto
que sea responsivo cunado lo muevas te salga lo mismo; los cuadrados
no se hacen mas grnades

iconos en font taison
font awesomwS   https://fontawesome.com/
copiar link an html un css,  arriba del link de estilos_walapop.css
para que prebalezcan las ultimas que han entrado*/
/*posicionamiento
-relativo: para que elementos absolutos puedan moverse ; 
modificaar la posicion de un elemnto respecto a donde estaria situado.
-absoluta: fuera de su ubicacion normal , puede pasar encima de los objetos
-fija:le damos la ubicaion aunque la pag se mueva  se queda fijo*/
/*hayan conclictos en los elementos absolutos que queden por
encima o por debajo 
que los corazones salgan superpuestos , uno esta por encima del otro
alt+flecha arriba y abajo 

hacer con z-index:100;,: funciona cuando un elemento tienen algun 
tipo de posicion , cuanto mayor sea
mas por encima queda un elemento*/
span.subir{
    color:red;
    position:relative;
    bottom:10px;
    left:10px;
}