body{
    background-color: rgb(147, 226, 43);
    padding:150px;

}
/*comentario*/
h1.titulo-principal {
    color: rgb(235, 23, 23);
    text-decoration: underline;
    border: 1px blueviolet solid;
    padding: 10px;/*margen hacia dentro*/
    border-radius: 100px;
    text-align: center;
    background-color: darksalmon;
    
}

div.rojo{
    color:aqua;;
}
h1.titulo-principal:hover{ /*cuando pasa el*/ 
    color: rgb(30, 183, 210);
    background-color: antiquewhite;
    cursor: pointer;
}
/*espacio en blnaco los li que esten dentro
espacio li; li recibre las propiedades;
SE LEE AL REVES, los li que esten..*/
ul.lista-ejercicios li{
font-size: 1.5em;
}
span.negrita{
    border-bottom: 3px rgb(25, 0, 255) solid;
}
/*para identifiicador
#titulo{

}

qquien concreta mas es la que manda más 
.titulo-principal /h1.titulo-princiapl
-->manda el del h1pq es mas concreto
O EL ULTIMO QUE ENTRA ES EL QUE TINE EL PODER SI 
SON IGUALES DE CONCRETOS*/