div.contenedor{
background-color: rgb(255, 255, 255);

}
div.contenedor div.articulo{
    height: 60%;
    width: 30%;
    background-color: blueviolet;
    margin:5px;
    display:inline-block;
    border-radius: 10px;
    color: blanchedalmond;
    
   line-height: 10px;
    padding: 10px;
    
}
div.articulo1 img.imagen1{
   width: 100%;
   border-radius: 10px;
}
div.articulo2 img.imagen2{
    width: 100%;
    border-radius: 10px;
 }
 div.articulo3 img.imagen3{
    width: 100%;
    border-radius: 10px;
 }
/*
div.contenedor div.articulo2{
    background-color: aqua;
    width: 30%;
}
div.contenedor div.articulo3{
    background-color: blueviolet;
    width: 30%;
}*/
