<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React - ejercicios</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <style>
        i.mosca {
            font-size: 40px;
            background-color: yellowgreen;
            border-radius: 60px;
            position: fixed;
            right: 50px;
            top: 50px;


            /*left, riigt, top , botton, respecto la pagina 
                __+_____+__
                |+      + |
                |         |
                |__+____+_|
                  +      +
            */
        }

       
    </style>

    <script src="https://unpkg.com/react@15/dist/react.min.js"> </script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>

<body>
    <div id="root"></div>

    <script type="text/babel">

    function Main() {
   
        return (
            <div>    
                <Mosca  colorFondo="blue" />
            </div>
            );
    } 

    function Mosca(props){
        return (
            <i className="fas fa-dove mosca" style={{color:props.colorFondo}}></i>
            
        );
    }
  

    ReactDOM.render( <Main  />,     document.getElementById("root")    );

</script>

</body>

</html>