<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React - ejercicios</title>
  
    <style>
            div.bola {
               
                border-radius: 50px;
                display: inline-block;
                margin: 5px;
            }
        </style>

    <script src="https://unpkg.com/react@15/dist/react.min.js"> </script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>

<body>
    <div id="root"></div>

    <script type="text/babel" >

    function Main() {
   
        return (
            <div>
                <Titulo color="blue" mensaje="React 2 bola!" />
                <Bola  talla="80px" margen="10px" fondo="#ff0000" />

            </div>
            );
    } 

    function Bola(props){
        return (
            <div  style={{height:props.talla,width:props.talla,margin:props.margen,backgroundColor:props.fondo}} className="bola" > </div>
        );
    }
  
    

    const Titulo = (props) => <h1 style={ 
        {color: props.color, backgroundColor: "yellow"} }>{props.mensaje}</h1>;

 

    ReactDOM.render( <Main  />,     document.getElementById("root")    );

</script>

</body>
</html>