<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React - ejercicios</title>
  
    <link rel="stylesheet" href="estilos.css">

    <script src="https://unpkg.com/react@15/dist/react.min.js"> </script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>

<body>
    <div id="root"></div>

    <script type="text/babel" >

    function Main() {
   
        return (
            <div>
                <Titulo color="blue" mensaje="HOLA React!" />
                <Subtitulo color="red" mensaje="ADIOS React!!"/>
            </div>
            );
    } 


    

    const Titulo = (props) => <h1 style={ 
        {color: props.color, backgroundColor: "yellow"} }>{props.mensaje}</h1>;

    const Subtitulo = (props)=> <h2 style={{color: props.color, backgroundColor:"green" }}>{props.mensaje}</h2>;

    ReactDOM.render( <Main  />,     document.getElementById("root")    );

</script>

</body>
</html>